@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply min-h-screen bg-theme font-monserrat text-dark;
  }

  input {
    @apply rounded-md indent-2 leading-loose;
  }
}

@layer components {
  .w-xl {
    @apply w-full max-w-screen-xl;
  }
}

@media only screen and (orientation: portrait) {
  #category-list {
    height: 0;
    transition: height 500ms ease;
  }

  #category-chevron {
    transition: transform 500ms ease;
  }

  #category-list.open {
    height: 200px;
  }

  #category-chevron.open {
    transform: rotate(180deg);
  }
}
